<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" type="text/css" href="/styles/footer.css" >
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fine Dining - Orders</title>
</head>
<!-- Background image -->
<style>body{background: url('https://images.pexels.com/photos/459501/pexels-photo-459501.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center fixed;
background-size: cover;
margin: 0;
overflow: hidden;
}</style>

<!-- Background image -->
<%- include('_partials/_header') %>
<body>
  <div class="container">
    <div class="pt-5 text-white">
      <header class="py-5 mt-5">
        <h1 class="display-4">Welcome! <br/> please login before ordering</h1>
        <p class="lead mb-0">we have implimented a text notification system for you convenience</p>
      </header>
    </div>
  </div>

  <footer>
    <%- include('_partials/_footer') %>
  </footer>
</body>
</html>




