// See: https://sass-lang.com/

body {
  background-color: #333;

  h1 {
    color: #244751;
  }
}

.navbar-inner {
  background-color: transparent;
}

.navbar-brand {
  color: white;
}

a.nav-link {
  color: white;
}

button.btn {
  margin: 5px;
}

.display-4 {
  color: white;
}

