body.order {
  background-color: #FFF2EB;
}

.navbar-inner {
  background-color: transparent;
}

.navbar-brand {
  color: #582c4d;
}

a.nav-link {
  color: #582c4d;
}

.display-4 {
  color: #582c4d;
}

button.btn {
  color: #FFF2EB;
  background-color: #582c4d;
  border-color: #b7990d;
}

